<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog 1</title>
    <!-- <base href="https://mahmoudmashoun.web.app/"> -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/animations.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- VUE JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>

<body id="app" class="bg-body">
    <!-- SINGLE BLOG PAGE TEMPLATE -->

    <header class="bg-light shadow w-100 p-3 pop">
        <div class="container d-flex align-items-center gap-1">
            <a :href="env('/blogs/')"><i class="bi bi-grid-fill"></i></a>
            <i class="bi bi-chevron-compact-right"></i>
            <h6 class="m-0 text-secondary fs-6">Lorem ipsum dolor sit amet...</h6>
        </div>
    </header>
    <main class="container mt-1 mb-5">
        <div class="row justify-content-center">
            <!-- A Blog -->
            <article class="col-12 col-lg-7 px-2 py-3">
                <div class="rounded shadow p-3 bg-light">
                    <!-- blog header -->
                    <div class="bg-light d-flex align-items-center justify-content-between px-2 py-3 shadow-sm rounded">
                        <a :href="env('/')" class="d-flex justify-content-start align-items-center gap-2">
                            <img src="https://drive.google.com/uc?export=view&id=1carhdDO1t8HQlqGYBC9ad57n2WQamfaa"
                                alt="profile pic" class="img-fluid rounded-pill shadow skeleton" width="40" height="40">
                            <div class="d-flex flex-column">
                                <h1 class="fs-5 text-secondary m-0 pop"> <strong>Mahmoud Mashoun</strong> </h1>
                                <h6 class="fs-xsmall pop text-secondary">Full Stack Web Dev.</h6>
                            </div>
                        </a>
                        <div class="d-flex align-items-center gap-2">
                            <i class="bi bi-three-dots-vertical fs-5 text-secondary" data-bs-toggle="dropdown"></i>

                            <ul class="dropdown-menu shadow-sm p-2 pop bg-abyad">
                                <div class="scale-in-center">
                                    <li><a class="dropdown-item" :href="env('/')">Home Page</a></li>
                                    <li><a class="dropdown-item" href="#experience">Work Experience</a></li>
                                    <li><a class="dropdown-item" href="/blogs">Blogs & FAQs</a></li>
                                    <li><a class="dropdown-item" href="/terms_and_conditions">Terms & Conditions</a>
                                    </li>
                                    <li><a class="dropdown-item" href="/privacy_policy">Privacy Policy</a></li>
                                    <li><a class="dropdown-item" href="#contact">Contact</a></li>
                                    <li>
                                        <a href="" class="mt-1 rounded border p-2 text d-flex align-items-center gap-2">
                                            <i class="material-symbols-outlined">
                                                video_call
                                            </i>
                                            <span>Schedule a meeting</span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <!-- blog image slider -->
                    <div class="swiper mt-3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="i in imgs">
                                <div class="swiper-zoom-container skeleton rounded">
                                    <img :src="i" alt="pic" class="img-fluid rounded skeleton" width="1920"
                                        height="1080">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination position-static mt-2"></div>
                    </div>

                    <!-- blog body [ title + paragraph ] -->
                    <div class="mt-3 d-flex flex-column gap-3">
                        <h1 class="fs-1 bebas text-gradient"> Mastering Google Apps Script: Tips and Tricks for
                            Productivity Power Users </h1>
                        <div class="d-flex flex-column gap-2">
                            <p class="fs-6 pop text-secondary text-justify">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.
                                Necessitatibus voluptate neque
                                voluptatem eveniet ut, facere recusandae qui unde! Nihil eos perferendis tempore eaque
                                odit
                                quo doloribus, dolorum magnam libero magni?
                            </p>
                            <p class="fs-6 pop text-secondary text-justify">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.
                                Necessitatibus voluptate neque
                                voluptatem eveniet ut, facere recusandae qui unde! Nihil eos perferendis tempore eaque
                                odit
                                quo doloribus, dolorum magnam libero magni?
                            </p>
                        </div>
                    </div>
                    <hr>

                    <!-- blog footer [ date + share btn ] -->
                    <div class="d-flex gap-2 align-items-center justify-content-between">
                        <div class="text d-flex gap-2 align-items-center text-secondary">
                            <i class="bi bi-clock"></i>
                            <small class="m-0">Fri 12 March 2023</small>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <!-- <div class="position-relative">
                                <i class="bi bi-chat-square-text fs-4 text-secondary"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger fs-xsmall">+99
                                </span>
                            </div> -->
                            <i class="bi bi-chat-square-dots fs-5 text-secondary"></i>
                            <i class="bi bi-share-fill fs-6 text-secondary"></i>
                        </div>
                    </div>

                </div>
            </article>

            <!-- Comment Section -->
            <section class="col-12 col-lg-5 px-2 py-3">
                <div class="bg-light p-3 shadow-sm rounded d-flex flex-column gap-3">
                    <div class="d-flex flex-column">

                        <h3 class="fs-2 bebas text-secondary text-start">Comments Tagline</h3>
                        <!-- <div class="d-flex gap-2 align-items-center">
                            <i class="bi bi-chat-square-dots fs-2 text-gradient"></i>
                            <h3 class="fs-3 pop text">Comments Tagline</h3>
                        </div> -->
                        <p class="pop text-secondary fs-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Hic, quis.</p>
                    </div>

                    <!-- comment box -->
                    <div class="pop accordion accordion-flush rounded shadow-sm" id="comment-box">

                        <div class="accordion-item" v-for="c in comments">
                            <div class="point p-3 bg-extra-abyad d-flex justify-content-between"
                                data-bs-toggle="collapse" :data-bs-target="'#'+c.id">
                                <div class="d-flex flex-column">
                                    <h6 class="text-primary fs-6 pop"><i class="bi bi-person-circle"></i> {{c.username}}
                                    </h6>
                                </div>
                                <i class="bi bi-chevron-expand"></i>
                            </div>
                            <div :id="c.id" :class="'accordion-collapse collapse'+ show(c.show)"
                                data-bs-parent="#comment-box">
                                <div class="accordion-body">
                                    <p class="text-secondary fs-small">
                                        <span :title="'@'+c.username">{{c.comment}}</span><br>
                                        <span class="text-success d-flex align-items-start gap-2"
                                            title="@Mahmoud Mashoun">
                                            <i class="bi bi-arrow-return-right"></i>
                                            <!-- <img src="https://drive.google.com/uc?export=view&id=1carhdDO1t8HQlqGYBC9ad57n2WQamfaa"
                                                alt="profile pic" class="img-fluid rounded-pill shadow skeleton"
                                                width="20" height="20"> -->
                                            <span> <strong>Mahmoud Mashoun<i class="bi bi-dot"></i></strong>Thank you {{c.username}}, Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit. Vero, dolore  </span>
                                        </span>
                                    </p>
                                    <small class="fs-xsmall text-secondary"><i class="bi bi-clock"></i> {{c.date}}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pop">
                        <!-- Add a comment -->
                        <textarea class="form-control bg-light" placeholder="Add comment"></textarea>
                        <!-- submit ur comment -->
                        <div class="input-group mt-2">
                            <input type="email" class="form-control py-2 bg-light" placeholder="Enter your email"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary px-3" type="button"><span class="pop">Submit</span></button>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </main>

    <footer-section id="contact"></footer-section>








    <!-- ********** JAVASCRIPT ********** -->
    <script src="../blogs.vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper', {
            spaceBetween: 20,
            loop: true,
            zoom: true,
            grabCursor: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <script src="./js/animations.js"></script> -->
</body>

</html>